@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('FiraSans-Light'), url('fonts/FiraSans-Light.ttf');
}

.aboutme-header{
  position:relative;height:300px;
  background-size: cover;
  background-position: center;
  text-align: center;
  }
  
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 .gallery-header{
  position:relative;
  height:300px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  background-size: cover;
  background-position: center;
  text-align: center;
  }

div.summary {
    padding: 1em;
    margin: 1em 0;
    padding-left: 5px;
    min-height: 120px;
    color: #fff;
    background-color: #ea7282;
    border: solid 5px #F4B5BD;
    font-family: 'Lato';
  }  

